
<div>
    <h3 style="display: inline">Maneuver Sets</h3>
    {{#paper-button icon-button=true action="transitionTo" param="admin.maneuversets.new"}}{{paper-icon icon="add"}}{{/paper-button}}
</div>
<p>
    {{select-2
        content=model.pilotClasses
        value=selectedItem
        placeholder="Select a pilot class"
        allowClear=true
        optionValuePath="id"
        optionLabelPath="name"
    }}
</p>

<table>
    <thead>
    <tr>
        <th>Maneuver Sets</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each filteredManeuversets as |maneuverset|}}
        <tr>
            <td>{{link-to maneuverset.name "admin.maneuversets.show" maneuverset}}</td>
            <td class="iconBar">
                {{#paper-button icon-button=true action="editManeuverset" param=maneuverset}}{{paper-icon icon="edit"}}{{/paper-button}}
                {{#paper-button icon-button=true action="deleteManeuverset" param=maneuverset}}{{paper-icon icon="delete"}}{{/paper-button}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>





