{{#paper-toolbar}}
    <div class="md-toolbar-tools">
        {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
            {{paper-icon icon="menu"}}
        {{/paper-sidenav-toggle}}

    </div>
{{/paper-toolbar}}

{{#paper-content classNames="md-padding"}}
    <div class="doc-content">

        <h3>{{model.name}}</h3>{{#paper-button icon-button=true action="transitionTo" param="contests.edit"}}{{paper-icon icon="edit"}}{{/paper-button}}
        <p>Aircraft Type: {{model.aircraftType.name}}</p>

        {{pilot-class-list pilotClasses=model.pilotClasses}}

    </div>

{{/paper-content}}


